<div ng-view></div>
<script src="~/App/Scripts/angular.js"></script>
<script src="~/App/Scripts/angular-route.js"></script>
<script src="~/App/Scripts/MainScript.js"></script>
<script src="~/App/Scripts/Services.js"></script>
<script src="~/App/Scripts/homeController.js"></script>
<link href="~/App/Style/Steeze.css" rel="stylesheet" />