<h1 class="text-center"style="color:whitesmoke"> Games</h1>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-4 column">
            <h2 style="color:whitesmoke"> Players</h2><br/>
            <input type="text" placeholder="Add Players" class="form-control text-center"/><br/>
            <input type="button" class="btn btn-info text-center" value="Submit" />
        </div>
        <div class="col-md-4 column">
            <h2 style ="color:whitesmoke"> Time</h2><br/>
            <input type="button" class="btn btn-success text-center"value="Start"/>
        </div>
        <div class="col-md-4 column">
            <h2 style ="color:whitesmoke">Wins</h2>
        </div>
    </div>
</div>